services:
  db:
    image: pgvector/pgvector:pg16
    container_name: financial_db_container
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=financial_db
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
